%h1 TableGuru

%h2 Sit down, for God's sake!

= link_to 'Log in!', new_user_session_path, class: 'btn btn-primary btn-large'
= link_to "Sign up", new_user_registration_path, class: 'btn btn-large'

#container
%canvas#my_canvas
